{
  "extends": "@bubkoo/eslint-config",
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.mjs"],
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto"
          }
        ]
      }
    }
  ]
}
